<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nbrk.rates"
          xmlns:android="http://schemas.android.com/apk/res/android"
  >

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".App"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    >
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme.NoActionBar"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".settings.view.activities.SettingsActivity"
      android:label="@string/settings"
      />
    <activity
      android:name=".widget.view.activities.ConfigActivity"
      android:label="@string/widget_config"
      />
    <activity
      android:name=".converter.view.activities.ConverterActivity"
      android:label="@string/conversion_title"
      />
    <activity
      android:name=".chart.view.activities.ChartActivity"
      android:label="@string/chart_title"
      />

    <service android:name=".CurrencyRatesService"/>
    <service
      android:name=".widget.WidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS"
      />

    <!-- Widget -->
    <receiver
      android:name=".widget.WidgetProvider"
      android:label="@string/app_name"
      >
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="com.nbrk.rates.MY_APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_provider"
        />
    </receiver>
    <!-- Widget -->

  </application>

</manifest>